<div class="container-fluid content" ng-controller="CalculatorController">
  <h3> Simple Calculator Using NodeJS, AngularJS, Express and Bootstrap</h3>
  <br>
  <br>
  <div class="form-group">
    <label for="numone">First Number:</label>
   <input type="number" class="form-control" ng-model="a" id="numone">
 </div>
 <div class="form-group">
   <label for="numtwo">Second Number:</label>
  <input type="number" class="form-control" ng-model="b" id="numtwo">
</div>
<label for="operation">Operation</label>
<select class="custom-select" ng-model="operator" id="operation">
  <option>+</option>
  <option>*</option>
  <option>-</option>
  <option>/</option>
</select>
<p>{{ result() }}</p>
 </div>
